#heading1 {
    flex: 1;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #4f4f4f;
  }
  
  .header {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #heading2 {
    flex: 0.1;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #4f4f4f;
  }
  