.BootstrapMulti .slick-arrow.slick-prev,
.BootstrapMulti .slick-arrow.slick-next {
    background: #fcfcfc;
    width: 47px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.BootstrapMulti .slick-arrow.slick-prev {
    left: -50px;
    /* border-top-right-radius: 7px;
    border-bottom-right-radius: 7px; */
}
.BootstrapMulti .slick-arrow.slick-next {
    right: -50px;
    /* border-bottom-left-radius: 7px;
    border-top-left-radius: 7px; */
}
button {
  outline: none;
  border: none;
  color: #01050f;
  background: white;
  border-radius: 20px;
  border: 1px solid #1d20f1;
  font-size: 11px;
  font-weight: 500;
  padding: 7px 14px;
  margin: 10px 0;
  text-transform: uppercase;
}
button:hover {
  background: #1e4de9;
  color: white;
  cursor: pointer;
}
.BootstrapMulti .slick-dots li button:before {
  font-size: 15px;
}

.carousel>h1{
    margin-top: 50px;
    margin-left: 20px;
    font-family: Bebas Neue;
    font-size: 64.715px;
    line-height: 78px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
  }
  .carousel>p{
    margin-left: 20px;
    font-family: 'Be Vietnam';
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #686363;
  }