.itemHolder {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .itemHolder:hover {
    background: #c4c7d7;
  }
  
  .itemHolder > img {
    width: 44px;
    height: 44px;
  }
  
  .itemHolder > div > span {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #0a1033;
  }
  
  .itemHolder > div > p {
    margin-top: 4px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #4f4f4f;
  }
  
  .nameStatus {
    margin-left: 24px;
    flex: 2;
  }
  
  .locationTime {
    margin-left: 24px;
    flex: 1;
  }
  
  .waiting {
    background-color: #f31616;
    border-radius: 100px solid #f61919;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 12px;
    margin-right: 100px;
  }
  
  #menu {
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 100px;
  }
  
  #menu:hover {
    background-color: #f1f1f1;
  }
  
  #menu:active {
    background-color: #d1d1d1;
  }
  