#headingrequest1 {
    flex: 2;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #4f4f4f;
  }
  
  .headerrequest {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #headingrequest2 {
    flex: 0.85;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #4f4f4f;
  }
  
  #headingrequest3 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0125em;
    color: #4f4f4f;
    margin-right: 35px;
    margin-left: 40px;
  }
  
  #headingrequest4 {
    padding: 0px 50px;
    color: transparent;
  }
  