@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
.navbar-brand{
    font-weight: bolder;
    margin-left: 2rem;
    font-family: Abhaya Libre;

}

.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
 }
 .navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
 }

 #logo{
     height: 1.5rem;
 }