.itemHolderreq {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .itemHolderreq:hover {
    background: #e0e3f3;
  }
  
  .itemHolderreq > img {
    width: 44px;
    height: 44px;
  }
  
  .itemHolderreq > div > span {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #0a1033;
  }
  
  .itemHolderreq > div > p {
    margin-top: 4px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #4f4f4f;
  }
  
  .nameStatusreq {
    margin-left: 24px;
    flex: 2;
  }
  
  .locationTimereq {
    margin-left: 24px;
    flex: 1;
  }
  
  .rejectreq {
    background: #f12b2c;
    border-radius: 100px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #f7f9ff;
    padding: 5px 12px;
    margin-right: 20px;
  }
  .acceptreq {
    background:green;
    border-radius: 100px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #f7f9ff;
    padding: 5px 10px;
    margin-right: 20px;
  }
  #Accepted {
    /* background:green; */
    /* border-radius: 100px; */
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: green;
    padding: 5px 10px;
    margin-right: 20px;
    margin-left: 41px;
  }
  #Rejected {
    /* background: #f12b2c; */
    /* border-radius: 100px; */
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;
    color: #f12b2c;
    padding: 5px 12px;
    margin-right: 20px;
    margin-left: 41px;
  }
  
  #menuRequest {
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 100px;
  }
  
  #menuRequest:hover {
    background-color: #f1f1f1;
  }
  
  #menuRequest:active {
    background-color: #d1d1d1;
  }
  