.navbarWrapper{

    .navbar{
        background-color: white !important;

        .navbar-brand{
            cursor: pointer;
            img{
                height: 40px;
                width: auto;
            }
        }

        .navbar-nav{
           
                li{
                    margin: 0px 20px;

                    button{
                        background-color: #172578;
                        border: none;


                    }

                    .btn1{
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border: none;

                    }
                    .btn2{
                        margin-left: -1px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                    }
                }
        }

        .profileBox{
            img{
                height: 40px;
                width: auto;
            }
        }
    }
}











/*  side nav bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #172578;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;

    .slideMenuContainerBox{
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgBox{
            height: 150px;
            width: 150px;
            background-color: white;
            padding: 20px;
            border-radius: 50%;
            img{   
                height: 100%;
                width: 100%;
            }
        }

        .profileNameTag{
            color: white;
            font-size: 25px;
        }

        .sideMenuBox{
            ul{
                li{
                    list-style: none;
                    color: white;
                    font-size: 18px;
                    margin: 10px 0px;
                    cursor: pointer;
                }
            }
        }
    }
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.OpneBtn{
    position: relative;
    position: absolute;
    top: 50px;
    left: 10px;
      font-size: 25px;
      cursor: pointer;
  }