/* img{
    height: 600px;
}

.carousel-caption h1{
    text-align: center;
    font-size: large;
}
.carousel-item{
    text-align: center;
    font-size: large;
} */

 
#hero {
    background-image: url('../Images/Home.png');
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #heading{
      font-family: Abhaya Libre ExtraBold;
      letter-spacing: 0.02em;
      background: rgba(203, 182, 182, 0.3);
      border-radius: 23px;
      color: azure;
      font-size: 50px;
  }
  #para{
      font-family: ABeeZee;
      line-height: 58px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: azure;
      font-size: 40px;
      margin-top: 20px;
      margin-left: 50px;

      /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

  }
  #btn{
     margin-left: 15rem;
      margin-top: 15px;
      width: 170px;
      height: 57px;
      position: relative;
      background: #F57009;
      border-radius: 45px;
      font-family: ABeeZee;
      font-size: 16px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #FFFFFF;
       
  }

  @media screen and (max-width:500px) {

    #heading{
        font-family: Abhaya Libre ExtraBold;
        letter-spacing: 0.02em;
        background: rgba(203, 182, 182, 0.3);
        border-radius: 23px;
        color: azure;
        font-size: 30px;
        margin-top: 0;
    }
    #para{
        font-family: ABeeZee;
        line-height: 58px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: azure;
        font-size: 15px;
        margin-top: 20px;
  
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  
    }
    #btn{
        margin-top: 10px;
        width: 100px;
        height: 57px;
        position: relative;
        background: #F57009;
        border-radius: 45px;
        font-family: ABeeZee;
        font-size: 8px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #FFFFFF;
         margin-left: 20px;
    }
}