/* .header {
    background-image: url('https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=400');
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  .header >h1{
      font-family: Abhaya Libre ExtraBold;
      letter-spacing: 0.02em;
      background: rgba(203, 182, 182, 0.3);
      border-radius: 23px;
      color: azure;
      font-size: 100px;
      margin-top: 200px;
      text-align: center;
  } */